# Telegram
API_ID=
API_HASH=
BOT_TOKEN=
TGFS_PROXY_URL=

# Telegram Channels
FILE_LOG_CHANNEL_ID=

# TOKENS
TMDB_ACCESS_TOKEN=
GEMINI_API_KEY=
FIREBASE_SERVICE_JSON=

# Optional
FRONTEND_URL=
WF_LOG_CHANNEL_ID=
PORT=
BASE_URL=

# Encoding Secrets (optional)
JWT_ALGORITHM=
JWT_SECRET_KEY=
FPE_SECRET=